
.modal{
    background-color: rgba(10,10,10,0.8);
    justify-content: center;
    flex-direction: column;
    align-items: center;
    display: flex;
 
}
.show{
    display: flex !important;
}
.modal-container{
    border-radius: 10px;
    width:50%;
    height: 60%;
    background-color:rgba(244,244,244);
    display:flex;
    align-items: center;
    justify-content: center;
    font-size:1em;
}
.bor{
    margin-left: 5px;
}
.updateAjax,.cancelModal{
   margin-top:1em;

   font-size:1.1em;
}
.cancelModal{
    padding:7px 13px;
}
.btn-success.update{
    margin-right: 0.5em;
   
}
#add,#cancel,#server{
    margin-bottom:0.5em;
}
.modal-form > .input-group{
    margin: 0.5em auto;
    
    width:85%;
}
.modal-form{
    text-align: center;
}

@media only screen and (max-width: 580px) {
    .btn-success.update{
        margin-bottom: 0.5em;
        font-size: 0.85em;
       
    }
    .btn-danger.delete{
        padding: 6px 14px;
        font-size:0.85em;
        margin-bottom: 0.5em;
    }
    .table{
        margin-left: -0.7em;
    }
    .container{
        padding:0px;
    }

}
@media only screen and (max-width: 700px) {
    .modal-form > .input-group{
       
        width:90%;
    }
    .modal-form{
        text-align: center;
    }
    .modal-container{
       
        width:85%;
        height: 60%;
      
    }

}
@media only screen and(min-width:700px) and (max-width: 1000px) {
    .modal-form > .input-group{
       
        width:90%;
    }
    .modal-form{
        text-align: center;
    }
    .modal-container{
       
        width:70%;
        height: 65%;
      
    }

}